---
openapi: 3.1.0
components:
  schemas:
    BehaviourExposureRule:
      type: object
      properties:
        session:
          $ref: "#/components/schemas/SessionFrequency"
        lifespan:
          $ref: "#/components/schemas/LifespanFrequency"
        window:
          $ref: "#/components/schemas/WindowFrequency"
        ctasResetAt:
          type: array
          items:
            $ref: "#/components/schemas/CTAReset"
    BehaviourTagSnapshot:
      type: object
      properties:
        behaviourTagName:
          type: string
        exposureRule:
          $ref: "#/components/schemas/BehaviourExposureRule"
        ctaRelation:
          $ref: "#/components/schemas/CTARelationSnapshot"
    CTA:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
        rule:
          $ref: "#/components/schemas/Rule"
        ctaStatus:
          $ref: "#/components/schemas/CTAStatus"
        name:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        team:
          type: string
        behaviourTags:
          type: array
          items:
            type: string
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
        createdAt:
          type: integer
          format: int64
        createdBy:
          type: string
        lastUpdatedAt:
          type: integer
          format: int64
        lastUpdatedBy:
          type: string
        tenantId:
          type: string
    CTARelationSnapshot:
      type: object
      properties:
        shownCta:
          $ref: "#/components/schemas/CtaRelationRule"
        hideCta:
          $ref: "#/components/schemas/CtaRelationRule"
        activeCtas:
          type: array
          items:
            type: string
    CTAReset:
      type: object
      properties:
        ctaId:
          type: string
        resetAt:
          type: integer
          format: int64
    CTAResponse:
      type: object
      properties:
        ctas:
          type: array
          items:
            $ref: "#/components/schemas/UserCTAAndStateMachineResponse"
        behaviourTags:
          type: array
          items:
            $ref: "#/components/schemas/BehaviourTagSnapshot"
    CTASnapshotRequest:
      type: object
      properties:
        ctas:
          type: array
          items:
            $ref: "#/components/schemas/StateMachineSnapshot"
        behaviourTags:
          type: array
          items:
            $ref: "#/components/schemas/BehaviourTagSnapshot"
    CTAStatus:
      type: string
      enum:
      - DRAFT
      - SCHEDULED
      - LIVE
      - PAUSED
      - CONCLUDED
      - TERMINATED
    CohortEligibility:
      type: object
      required:
      - includes
      - excludes
      properties:
        includes:
          type: array
          items:
            type: string
          minItems: 1
        excludes:
          type: array
          items:
            type: string
    CtaRelationRule:
      type: object
      properties:
        rule:
          $ref: "#/components/schemas/CtaRelationRuleTypes"
        ctaList:
          type: array
          uniqueItems: true
          items:
            type: string
    CtaRelationRuleTypes:
      type: string
      enum:
      - ANY
      - LIST
      - REST
    Filters:
      type: object
      required:
      - operator
      - filter
      properties:
        operator:
          type: string
        filter:
          type: array
          items: {}
    Frequency:
      type: object
      properties:
        session:
          $ref: "#/components/schemas/SessionFrequency"
        window:
          $ref: "#/components/schemas/WindowFrequency"
        lifeSpan:
          $ref: "#/components/schemas/LifespanFrequency"
    GroupByConfig:
      type: object
      properties:
        maxActiveStateMachineCount:
          type: integer
          format: int32
        groupByKeys:
          type: array
          items:
            type: string
    JsonObject:
      type: array
      items: {}
    LifespanFrequency:
      type: object
      required:
      - limit
      properties:
        limit:
          type: integer
          format: int32
    Nudge:
      type: object
      required:
      - id
      properties:
        id:
          type: string
        property:
          type: object
          additionalProperties: {}
    NudgePreview:
      type: object
      properties:
        id:
          type: string
        template:
          type: string
        tenantId:
          type: string
        ttl:
          type: integer
          format: int32
    ResponseBoolean:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: boolean
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
          format: int32
    ResponseCTA:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/CTA"
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
          format: int32
    ResponseCTAResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/CTAResponse"
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
          format: int32
    ResponseMapLongCTA:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/CTA"
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
          format: int32
    ResponseNudge:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/Nudge"
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
          format: int32
    ResponseNudgePreview:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/NudgePreview"
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
          format: int32
    ResponseUserDataSnapshot:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/UserDataSnapshot"
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
          format: int32
    Rule:
      type: object
      required:
      - cohortEligibility
      - stateToAction
      - stateTransition
      - priority
      - actions
      - frequency
      properties:
        cohortEligibility:
          $ref: "#/components/schemas/CohortEligibility"
        stateToAction:
          type: object
          additionalProperties:
            type: string
          minProperties: 1
        resetStates:
          type: array
          items:
            type: string
        resetCTAonFirstLaunch:
          type: boolean
        contextParams:
          type: array
          items:
            type: string
        stateTransition:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: "#/components/schemas/StateTransitionCondition"
        groupByConfig:
          $ref: "#/components/schemas/GroupByConfig"
        priority:
          type: integer
          format: int32
        stateMachineTTL:
          type: integer
          format: int64
        ctaValidTill:
          type: integer
          format: int64
        actions:
          type: array
          items:
            type: object
            additionalProperties: {}
        frequency:
          $ref: "#/components/schemas/Frequency"
    RuleResponse:
      type: object
      required:
      - stateToAction
      - stateTransition
      - priority
      - actions
      - frequency
      properties:
        stateToAction:
          type: object
          additionalProperties:
            type: string
          minProperties: 1
        resetStates:
          type: array
          items:
            type: string
        resetCTAonFirstLaunch:
          type: boolean
        contextParams:
          type: array
          items:
            type: string
        stateTransition:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: array
              items:
                $ref: "#/components/schemas/StateTransitionCondition"
        groupByConfig:
          $ref: "#/components/schemas/GroupByConfig"
        priority:
          type: integer
          format: int32
        stateMachineTTL:
          type: integer
          format: int64
        ctaValidTill:
          type: integer
          format: int64
        actions:
          type: array
          items:
            type: object
            additionalProperties: {}
        frequency:
          $ref: "#/components/schemas/Frequency"
    SessionFrequency:
      type: object
      required:
      - limit
      properties:
        limit:
          type: integer
          format: int32
    StateMachine:
      type: object
      required:
      - currentState
      - lastTransitionAt
      - createdAt
      properties:
        currentState:
          type: string
        lastTransitionAt:
          type: integer
          format: int64
        context:
          type: object
          additionalProperties: {}
        createdAt:
          type: integer
          format: int64
        reset:
          type: boolean
    StateMachineSnapshot:
      type: object
      properties:
        ctaId:
          type: string
        activeStateMachines:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/StateMachine"
        resetAt:
          type: array
          items:
            type: integer
            format: int64
        actionDoneAt:
          type: array
          items:
            type: integer
            format: int64
    StateTransitionCondition:
      type: object
      required:
      - transitionTo
      - filters
      properties:
        transitionTo:
          type: string
        filters:
          $ref: "#/components/schemas/Filters"
    UserCTAAndStateMachineResponse:
      type: object
      properties:
        ctaId:
          type: string
        rule:
          $ref: "#/components/schemas/RuleResponse"
        activeStateMachines:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/StateMachine"
        resetAt:
          type: array
          items:
            type: integer
            format: int64
        actionDoneAt:
          type: array
          items:
            type: integer
            format: int64
        behaviourTagName:
          type: string
    UserDataSnapshot:
      type: object
      properties:
        stateMachines:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/StateMachineSnapshot"
        behaviourTags:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/BehaviourTagSnapshot"
    WindowFrequency:
      type: object
      required:
      - limit
      - unit
      - value
      properties:
        limit:
          type: integer
          format: int32
        unit:
          $ref: "#/components/schemas/WindowFrequencyUnit"
        value:
          type: integer
          format: int32
    WindowFrequencyUnit:
      type: string
      enum:
      - days
      - hours
      - minutes
      - seconds
paths:
  /cta/active/state-machines:
    post:
      parameters:
      - name: api_version
        in: header
        schema:
          type: integer
          format: int64
      - name: app_version
        in: header
        schema:
          type: string
      - name: auth-userid
        in: header
        schema:
          type: integer
          format: int64
        required: true
      - name: codepush_version
        in: header
        schema:
          type: string
      - name: package_name
        in: header
        schema:
          type: string
      - name: x-tenant-id
        in: header
        schema:
          type: string
          default: default
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/CTASnapshotRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCTAResponse"
  /cta/nudge/preview/{id}:
    get:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: x-tenant-id
        in: header
        schema:
          type: string
          default: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseNudgePreview"
  /cta/nudges/{id}:
    get:
      deprecated: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseNudge"
  /cta/rules/active:
    get:
      parameters:
      - name: cache
        in: query
        schema:
          type: boolean
        required: true
      - name: x-tenant-id
        in: header
        schema:
          type: string
          default: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseMapLongCTA"
  /cta/rules/{id}:
    get:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: x-tenant-id
        in: header
        schema:
          type: string
          default: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCTA"
  /cta/state-machines:
    get:
      parameters:
      - name: auth-userid
        in: header
        schema:
          type: integer
          format: int64
        required: true
      - name: x-tenant-id
        in: header
        schema:
          type: string
          default: default
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseUserDataSnapshot"
  /cta/state-machines/snapshot/delta:
    post:
      parameters:
      - name: api_version
        in: header
        schema:
          type: integer
          format: int64
      - name: app_version
        in: header
        schema:
          type: string
      - name: auth-userid
        in: header
        schema:
          type: integer
          format: int64
        required: true
      - name: codepush_version
        in: header
        schema:
          type: string
      - name: package_name
        in: header
        schema:
          type: string
      - name: x-tenant-id
        in: header
        schema:
          type: string
          default: default
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/CTASnapshotRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseBoolean"
  /cta/v1/active/state-machines:
    post:
      parameters:
      - name: api_version
        in: header
        schema:
          type: integer
          format: int64
      - name: app_version
        in: header
        schema:
          type: string
      - name: auth-userid
        in: header
        schema:
          type: integer
          format: int64
        required: true
      - name: codepush_version
        in: header
        schema:
          type: string
      - name: package_name
        in: header
        schema:
          type: string
      - name: x-tenant-id
        in: header
        schema:
          type: string
          default: default
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/CTASnapshotRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCTAResponse"
  /healthcheck:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonObject"
  /healthcheck/ping:
    get:
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
  /openapi:
    get:
      responses:
        "200":
          description: OK
  /openapi.{type}:
    get:
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          pattern: json|yaml
      responses:
        "200":
          description: OK
info:
  title: Generated API
  version: "1.0"
